* {
    margin: 0px;
    padding: 0px;
}


body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

.hero {
    background-color: #1f2937;
}

.title-sub, .links {
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.title-container {
    width: 400px;
}

.title-sub {
    margin: 10px 0px;
}

.sign-up {
    padding: 5px 25px;
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #3882f6;
    color: white;
}

.placeholder {
    padding: 100px 150px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 10px 150px;
}

.links {
    display: flex;
    gap: 25px;
    text-decoration: none;
    list-style: none;
}

.header-container {
    display: flex;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    margin-bottom: 50px;
}

.random-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-title {
    margin: 50px 0px 50px 0px;
    color: #1f2937;
}

.random-subtext {
    display: flex;
    gap: 50px;
}

.random-card {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.random-div {
    height: 100px;
    width: 100px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 150px;
    gap: 20px;
}

.quote-title, .quote-name {
    width: 600px;
}

.quote-title {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.footer-container {
    display: flex;
    justify-content: center;
    padding: 200px;
}

.footer-button {
    background-color: #3882f6;
    padding: 25px 150px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    color: white;
}

.bottom-bar {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 40px;
    color: white;
}