* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
}

.hero {
    background-color: #1f2937;
}

.title-sub, .links {
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.sign-up {
    padding: 5px 25px;
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #3882f6;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 50px; */
    /* margin-bottom: 100px; */
}

.links {
    display: flex;
    gap: 25px;
    text-decoration: none;
    list-style: none;
}

.header-container {
    display: flex;
    /* padding: 10px 50px; */
}